.app-container {
  width: 100%;
  height: 100vh;
}

.split {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.split.horizontal {
  flex-direction: row;
}

.split.vertical .pane {
  width: 100%; /* Ensure full width for vertical layout */
}

.pane {
  overflow-y: auto;
  height: 100%;
}

.gutter {
  background-color: #e5e7eb; /* Tailwind Gray-200 */
  cursor: col-resize;
}

.gutter.gutter-horizontal {
  width: 5px;
}

.gutter.gutter-vertical {
  height: 5px;
  cursor: row-resize;
}
